/* GENERAL */
/* 
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;
 */
 :root {
    --redes-sociales: #47afac;
    --botones: #47cfac;
}
html {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.8rem;    
    font-family: 'Roboto Mono', monospace;
}

/* HEADER */
header {
    height: 150px;
}
header section {
    display: flex;
    justify-content: end;
    background-color: var(--redes-sociales);
    height: 50px;
}
header section div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 100%;
}
header section img {
    width: 30px;
    color: white;
}
header nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px;
    align-items: center;
    height: 100px;
}
header nav img {
    width: 300px;
}
.sobre-mi {
    margin-right: 80px;
    justify-self: end;
    border-bottom: 1px solid black;
    font-weight: bold;
}

/* MAIN */
.blog-destacado {
    display: grid;
    grid-template-columns: 3fr 2fr;
    height: auto;
    padding: 0 50px 40px;
    background-color: #e6e9ed;
}
.blog-destacado h3 {
    font-size: 3rem;
    font-family: 'Roboto Mono', monospace;
}
.blog-destacado div:nth-child(1) h3 {
    margin: 10px 0;
}
.blog-destacado div:nth-child(2) h3 {
    margin-top: 50px;
}
.blog-destacado p {
    font-family: 'Roboto Mono', monospace;
    margin: 20px 0;
}
.blog-destacado img {
    width: 85%;
}
.nuevos-blogs {
    padding: 0 50px 40px;
}
.nuevos-blogs h2 {
    margin: 20px;
    border-bottom: 1px solid #cdd2da;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
}
.blogs-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.blog img {
    width: 100%;
}
.blog .titulo {
    font-weight: bold;
}
.blog .descripcion {
    margin: 10px 0 20px;
}

/* FOOTER */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    background-color: #22272d;
    border-top: 35px solid var(--redes-sociales);
}
footer p {
    color: white;
}

/* BOTONES */
a {
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
    color: black;
    transition: color .3s, background-color .3s, transform .3s;
}
.ver-mas {
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid var(--botones);
    font-size: 1.6rem;
}
.ver-mas:active {
    color: white;
    background-color: var(--botones);
}

/* MEDIA QUERIS */
@media (hover: hover) {
    a:hover:not(.no-hover) {
        transform: scale(1.1);
    }
    .ver-mas:hover {
        color: white;
        background-color: var(--botones);
    }
}